<!doctype html5>
<html>
    <head>
    </head>
    <body>
        <header>
        </header>
		<main>
			<aside class= "form-style-5">
				<form id = "Form" action = "#">
          <fieldset>
				    <legend><span class='number'>1</span> נתוני משכרות </legend>
				    </p>
            <input id = 'txtDate' type= 'date' placeholder='תאריך המשכורת' required autofocus>
				    <br/>
            <input type='number' id = 'txtDaysOfWork' placeholder='ימי עבודה' min = '0' max = '31'>
				    <br/>
            <input type='number' step='0.01' id = 'txtPayForHouer' placeholder='שכר לשעה' min = '0'>
				    <br/>
            <input type='number' id = 'txtSeniorYears' placeholder='ותק' min = '0'>
				    <br/>
            <input type='number' id = 'txtSeniorMounths' placeholder='ותק חודשים'  min = '0'>
				    <br/>
				</fieldset>
				</form>
			</aside>
			<aside class= "camera">
			</aside>
		</main>
		<footer>
		</footer>	
    </body>
</html>