<!doctype html5>
<html>
    <head>
    </head>
    <body>
        <header>
        </header>
		<main>
			<aside class= "form-style-5">
				<form id = "Form" action = "#">
          <fieldset>
				    <legend><span class='number'>1</span> נתוני משכרות </legend>
					<label> תאריך משכורת </label>
            <input id = 'txtDate' type= 'date' placeholder='תאריך המשכורת' required autofocus>
				    <br/>
            <input type='number' id = 'txtDaysOfWork' placeholder='ימי עבודה' min = '0' max = '31'>
				    <br/>
            <input type='number' step='0.01' id = 'txtPayForHouer' placeholder='שכר לשעה' min = '0'>
				    <br/>
            <input type='number' id = 'txtSeniorYears' placeholder='ותק' min = '0'>
				    <br/>
            <input type='number' id = 'txtSeniorMounths' placeholder='ותק חודשים'  min = '0'>
				    <br/>
			<input type='number' id = 'txtRegularWorkHours' placeholder='שעות עבודה רגילות'  min = '0' step='0.01'>
				    <br/>
			<input type='number' id = 'txtRegularPayment' placeholder='סה"כ תשלום על שעות עבודה רגילות'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtEx125WorkHours' placeholder='שעות נוספות 125 בתלוש'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtEx125Payment' placeholder='סה"כ תשלום על שעות עבודה נוספות 125'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtEx150WorkHours' placeholder='שעות נוספות 150 בתלוש'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtEx150Payment' placeholder='סה"כ תשלום על שעות עבודה נוספות 150'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtTravelPayment' placeholder='נסיעות/חופשי חודשי'  step='0.01'>
				    <br/>
			<input type='number' id = 'txtTravelPayment' placeholder='נסיעות/חופשי חודשי'  step='0.01'>
				    <br/>
			</fieldset>
				</form>
			</aside>
			<aside class= "camera">
			</aside>
		</main>
		<footer>
		</footer>	
    </body>
</html>