page-home {
}

.buttons{
    align-items: center;
    direction:  rtl;
    text-align: center;
    float: right;
}
.homeBackground{
    background-repeat: no-repeat;
    background-size: cover;
}
.getstart{
    margin-top: 25%;
}
.pictureButton{
    text-align: center;
    padding-top: 15%;
}
.input{
margin-left: auto;
margin-right: auto;
width: 70%;     
}
.tlushiImg{
    position: relative;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 8%;
    width: 30%; 
    height: 13%;
    display: block;
    align-items: center;
}