page-home {

}
.homeBackground{
    background-repeat: no-repeat;
    background-size: cover;
}
.getstart{
    margin-top: 15%;
}
.pictureButton{
    text-align: center;
    padding-top: 15%;
}
.input{
margin-left: auto;
margin-right: auto;
width: 70%;     
}
.tlushiImg{
    position: relative;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 8%;
    width: 30%; 
    display: block;
    align-items: center;
}