<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">תלושי</ion-title>   
    <ion-buttons end>
      <button ion-button icon-only (click)="uploadObj()">
        <ion-icon  name="send" *ngIf="cameraUrl"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="home">
  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/png;base64,' +cameraUrl)" *ngIf="cameraUrl">
<ion-fab right bottom>
    <button ion-fab color="primary" (click)="openCamera()">
        <ion-icon name="md-camera"></ion-icon>
    </button>
</ion-fab><ion-fab left bottom>
    <button ion-fab color="secondary" (click)="selectFromGallery()">
        <ion-icon name="md-images"></ion-icon>
    </button>
</ion-fab>
</ion-content>